 body {
    background-image: url('images/Background.jpg');
    font-family: Arial, Helvetica, sans-serif;
 }
 
 /* The side navigation menu */
 #navBar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
#navButton {
  position: fixed;
  top: 1vw;
  left: 1vw;
  font-size: 3vw;  
  margin: 0 0 0 0;
  color: lightgrey;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding-left: 5vw;
  color: lightgrey;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .navBar {padding-top: 15px;}
  .navBar a {font-size: 18px;}
} 

ul {
  list-style-type: circle;
}

.fireText {
  background-color: lightgrey;
	background: linear-gradient(to top right, #690a0a 0%, #fffb00 100%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}