body {
  background-color: black;
  background-image: url('images/Background.jpg');

}
ul {
  list-style-type: circle;
  font-size: 20px;
}

h1 {
  display: inline-block;
  font-size: 75px;
  margin-top: 1vw;
  margin-bottom: 0;
}
h3 {
  font-size: 40px;
  margin-top: 2vw;
  margin-bottom: 1vw;
}

h4 {
  font-size: 30px;
  margin: 1vw 0 0vw 0;
}

p {
  font-size: 20px;
  margin: 0.25vw 0 0.25vw 0;
  max-width: 80vw;
}

/* The side navigation menu */
#navBar {
  height: 100%; /* 100% Full-height */
  width: 20vw; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


#items {
  list-style-type: none;
  padding-left: 1vw;
}
/* The navigation menu links */
#items a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 30px;
  display: block;
  transition: 0.3s;
  background-color: #818181;
	background: linear-gradient(to top right, #fff455 0%, #ff0000 100%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* When you mouse over the navigation links, change their color */
#items a:hover {
  background-color: #f1f1f1;
  background: linear-gradient(to top right, #fff455 25%, #ff0000 75%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Position and style the close button (top right corner) */
#navButton {
  position: fixed;
  top: 1vw;
  left: 1vw;
  font-size: 75px;  
  margin: 0 0 0 0;
  background-color: lightgrey;
	background: linear-gradient(to top right, #fff455 0%, #ff0000 100%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

#navButton:hover {
  background-color: #f1f1f1;
  background: linear-gradient(to top right, #fff455 25%, #ff0000 75%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Position and style the close button (top right corner) */
#closeNavDiv{
  margin: 0 1vw 0 0;
  font-size: 75px;  
  display:flex;
  justify-content: space-between;  
  background-color: lightgrey;
	background: linear-gradient(to top right, #fff455 0%, #ff0000 100%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

#closeNavDiv #closeNavButton:hover {
  background-color: #f1f1f1;
  background: linear-gradient(to top right, #fff455 25%, #ff0000 75%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding-left: 85px;
  margin-left: 20vw;
  color: lightgrey;
}

#main div {
  color: white;
  background-color: lightgrey;
	background: linear-gradient(to top right, #fff455 0%, #ff0000 100%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

.skill {
  margin: .5vw .5vw .5vw .5vw;
  padding: 0vw .5vw 0vw .5vw;
}

#name {
  color: white;
  text-align: center;  
}

#projects img {
  width: 50vw;
}

.job {
  padding-right: 1vw;
}

.job-head {
  display: flex;
  justify-content: space-between;
}

.job-title {
  margin-right: 3vw;
}

.job-head h4{
  margin-top: 0;
  margin-bottom: 0;
}

#projects a {

  color: #fff455;
  -webkit-text-fill-color: #fff455;
}